/*
fond global #c14040
fond nav #efe3e3
police nav #c14040
fond item #982c2c
police item #f5d3d3
fond barre caractéristiques #ffffff

retour home #f5cecd

*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
    background-color: #c14040;
    font-family: 'Bree Serif', serif;
}

a {
    text-decoration: unset; 
}

/*
Header
*/
.header-container {
    background-color: #efe3e3;
    color: #c14040;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 1.5%;
}

@media (max-width: 400px) {
    .header-container {
        flex-direction: column;
    }

    .nav-list {
        padding-left: 0%;
    }
}

h1 {
    margin: 0;
    font-weight: 400;
    padding: 0 0.5em;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style: none;
    margin: 0 1em;
}

.nav-list a {
    color: #c14040;
}

/*
Main
*/
main {
    display: flex;
    flex-wrap: wrap;
}

.main-img {
    display: flex;
    flex-direction: column;
    background-color: #982c2c;
    border-radius: 1em;
    width: calc(85% / 3);
    margin: 1.5%;
    padding: 1%;
}

@media (max-width: 768px) {
    .main-img {
        width: calc(90% / 2);
    }
}

@media (max-width: 400px) {
    .main-img {
        width: 95%;
    }
}

.main-img a {
    text-align: center;
    color: #f5cecd;
}

.main-img img {
    width: 90%;
    margin: auto;
}

/*
Page des types de Pokémon
*/

.main-p {
    color: #f5cecd;
    margin: 1.5%;
}

.types-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5%
}

.type-item {
    width: calc(95.5% / 4);
    padding: 1em 0;
    text-align: center;
    border-radius: 0.8em;
    margin-right: 1%;
    margin-bottom: 0.5em;
}

.type-item a {
    color: #f5cecd;
}

.caaaabb {
    background-color: #aaaabb;
}

.cbb5544 {
    background-color: #bb5544;
}
.c7766ee {
    background-color: #7766ee;
}
.c3399ff {
    background-color: #3399ff;
}

.cffbb33 {
    background-color: #ffbb33;
}

.cff4422 {
    background-color: #ff4422;
}

.c77ddff {
    background-color: #77ddff;
}

.caabb22 {
    background-color: #aabb22;
}

.cbbaabb {
    background-color: #bbaabb;
}

.c77cc55 {
    background-color: #77cc55;
}

.caa5599 {
    background-color: #aa5599;
}

.cff5599 {
    background-color: #ff5599;
}

.cbbaa66 {
    background-color: #bbaa66;
}

.cddbb55 {
    background-color: #ddbb55;
}

.c6666bb {
    background-color: #6666bb;
}

.c665544 {
    background-color: #665544;
}

.c6699ff {
    background-color: #6699ff;
}

/*
Page des détails
*/

.details {
    color: #f5cecd;
}

.details a {
    color: #f5cecd;
    display: block;
    text-align: center;
    margin-left: 1.5%;
    padding-left: 1.5%;
}

.details-main {
    display: flex;
}

.details h2 {
    text-align: center;
}

.details-main-img {
    width: 30%;
    margin: auto;
    margin-left: 1.5%;
}

.details-main-img img {
    width: 90%;
}

.details-main-stats {
    width: 65%;
    margin-left: 2em;
    background-color: #ab3838;
    border-radius: 0.8em;
    padding: 1%;
    margin-right: 1.5%;
}

.powers {
    display: flex;
}

.stats {
    display: flex;
    margin-bottom: 0.3em;
}

.stat-bar {
    width: 50%;
    background-color: #632b2b;
    border-radius: 0.4em;
}

.stat-bar-value {
    background-color: #ffffff;
    color: #ffffff;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

.stat {
    width: 35%;
}

.stat-value {
    width: 10%;
}

.detail-powers {
    padding: 0.5em 1em;
    border-radius: 0.4em;
    margin-right: 1em;
}

h5 {
    font-size: 1em;
}

#back {
    margin: 2em;
}

@media (max-width: 768px) {
    .details-main {
        flex-direction: column;
        justify-content: center;
    }

    .details-main-img {
        width: 60%;
        margin: auto;
    }

    .details-main-stats {
        width: 93%;
        margin-left: 2%;
        margin-top: 2%;
    }
}